{% extends 'base.html' %}



{% block head %}
	<title>HOME</title>
{% endblock %}


{% block float %}
{% endblock %}	

		
{% block body %}
	<title>TRENDZ</title>
	<style>
		
		.footer{
			background-color: lightskyblue;
			overflow: hidden;
			position: fixed;
			bottom:0;
			width: 100%;
		}

		.footer a{
			float:left;
			display: block;
			text-align: center;
			color: white;
			text-decoration: none;
			padding: 10px 16px;
        }
        .footer a:active{
        	background-color: dodgerblue;
        }

        .footer a.active{
        	background-color: dodgerblue;
        }
        .menu{
        	width:20px;
        	height: 4px;
        	background-color: black;
        	margin:2px 0;
        }

        .header{
        	/*float: left;
        	display: block;*/
        	background-color: dodgerblue;
        	padding: 10px;
        }


        .slider{
        	border: 1px dodgerblue;
        	position: relative;
        	
        }
        .name{
        	color:white;
        }
	</style>
</head>
<body>

	<div class="header">
		<p class="name">TRENDZ</p>
		<input type="text" name="search" placeholder="search">
    </div>


    <div class="jumbotron">
        <marquee>
    	<p>"If you don't find a way to make money while you sleep,You will work till you die"-Warren Buffet</p>
        </marquee>
    </div> 


	    <div class="container">

	    <p>{{ username }}</p>
	    <img src="#">
	    <p>like</p>
	    <p>comment</p>
	    </div>  

    <div class="footer">
    <a href="#" class="active">TRENDING</a>
    <a href="{% url 'trendz:news' %}">NEWS</a>
    <a href="{% url 'trendz:view_profile' %}">ME</a>    
		
{% endblock %}
	

