{% extends 'base.html' %}

{% block head %}
<title>PROFILE</title>
{% endblock %}

{% block body %}

		<div class="jumbotron">
			<h1>WELCOME TO THE NEWS CHANNEL OF TRENDZ</h1>
			
		</div>
{% endblock %}

{% block float %}
<p><br></p>
{% endblock %}
	
</body>
</html>

