{% extends 'base.html' %}

{% block head %}
<title>Password reset</title>
{% endblock %}


{% block body %}

	<div class="jumbotron">
	<h3>Password reset completed</h3>

	<p>You have successfully resetted your password.</p>
	<p>Click <a href="{% url 'trendz:login' %}">LOG IN</a> to login</p>

	</div>
{% endblock %}

{% block float %}
{% endblock %}
	
</body>
</html>