{% extends 'base.html' %}

{% block head %}
<title>Password reset</title>
{% endblock %}


{% block body %}

	<div class="container">
		<h3>Password reset</h3>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>


		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-info" type="submit">RESET</button>
		</form>
	</div>
{% endblock %}

{% block float %}
{% endblock %}
	
</body>
</html>