{% extends 'base.html' %}

{% block head %}
<title>LOG out</title>
{% endblock %}



{% block body %}
	<div class="container">
		<div class="jumbotron">
		<h1>TOH NYANG LA</h1>
		</div>
		<h1>You have logged out</h1>
	</div>
{% endblock %}
	
</body>
</html>

#JUST1N4 l0ves ME L1KE 1 D0.