
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% block head %}
		<title>BASE</title>
		{% endblock %}
		<style type="text/css">
			.float{
				float:right;
			}
		</style>

	
	</head>
	<body>
<!--
		<nav class="navbar navbar-light bg-primary justify-content-between">
	  		<a class="navbar-brand">Trendz</a>

	  		<form class="form-inline">
	   			 <input class="form-control mr-xs-2" type="search" placeholder="Search" aria-label="Search">
	    		 <button class="btn btn-info my-2 my-xs-0" type="submit">Search</button>
	  		</form>
		</nav>
-->

	


		{% block float %}
		<div class="jumbotron">
			<a href="/trendz/">TRENDZ</a>
			<div class="float" >
			<a href="{% url 'trendz:password_reset' %}" >   RESET PASSWORD  </a>
			<a href="{% url 'trendz:register' %}">REGISTER</a>
			</div>
		</div>
		{% endblock %}

		{% block body %}
		{% endblock %}

		
	</body>
</html>