{% extends 'base.html' %}

{% block head %}
<title>REGISTER</title>
{% endblock %}

	{% block float %}
		<div class="jumbotron">
			<h1>REGISTER HERE</h1>
		</div>
	{% endblock %}
		

	{% block body %}
		<div class="container">
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-success" type="submit">REGISTER</button>
			</form>
		</div>
	{% endblock %}


</body>
</html>